.container {
    padding: 2px 16px;
    width: 100%;
    float: left;
  }

.comments {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}